*{
    margin: 0;
    padding: 0;
}
body, html {
    color: #636363;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    line-height: 1.6;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header_content{
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_list {
    display: flex;
}
.header_list{
    padding-left: 100px;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li a{
    margin-right: 30px;
    text-decoration: none;
    color: #070120;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
}
.header_content i{
    font-size: 9px;
    margin-left: 2px;
    vertical-align: middle;
}
.btn-quote{
    margin-right: -5px;
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    cursor: pointer;
}

  a{
    display: inline-block;
    transition: all 1s;
  }
  a:hover {
    color: #f55f8d;
  }
 .header_list a:hover {
    animation: upToDown 0.5s;
  }
  
  @keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }
  .carousel {
    padding-top: 180px;
    overflow: hidden;
    background-image: url(./Samar-20220701T052623Z-001/Samar/pic2.png);
    background-position: top;
    background-size: 100%;
    display: flex;
}
.left_carousel h3 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
    margin-top: 50px;
}
.left_carousel h1{
    font-size: 70px;
    font-weight: 700;
    color: #262626;
    margin-bottom: 20px;
    line-height: 1.0;
}
.left_carousel p{
  font-size: 20px;
}
.left_carousel{
  padding-left: 80px;
  width: 60%;
}
.right_carousel{
  margin-right: -50px;
}
.desciption_carousel{
  width: 80%;
}
.desciption_carousel ul {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 40px;
}
.desciption_carousel li{
  margin-top: 10px;
  font-size: 20px;

}
.desciption_carousel i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  margin-right: 10px;
}

.service{
  padding: 80px 80px;
  background-image: url(./Samar-20220701T052623Z-001/Samar/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.service h3 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
  margin-top: 50px;
  text-align: center;
}

.service h1 {
  text-align: center;
  font-size: 70px;
  line-height: 1.1;
  font-weight: 600;
  color: #262626;
  margin-bottom: 20px;
}
.services_content {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin-top: 40px;
}
.services_item {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
  text-align: center;
}
.services_item img {
  width: 215px;
}
.services_item:hover {
  transform: translateY(-20px)
}
.services_item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}
/* ABOUT */
.about{
background-image: url(./Samar-20220701T052623Z-001/Samar/bg15.png);
background-size: 100%;
background-position: center right;
background-repeat: no-repeat;
padding-bottom: 85px;
overflow: hidden;

}
.about_content{
  display: flex;
}
.left_about{
  width: 50%;
  position: absolute;
  left: -8%;
}
.left_about img {
  width: 100%;
  border-radius: 0 100px 100px 0;
  margin-top: 120px;
}
.right_about{
  width: 50%;
  position: relative;
  left: 50%;
}
.aboutUs{
  text-align: left;
}
.aboutUs h3{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
  margin-top: 50px;
}
.aboutUs h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 600;
  color: #262626;
  margin-bottom: 20px;
}
.right_about ul li {
  list-style: none;
}
.right_about i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}

.btn-learn-more{
  padding: 20px 35px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  border-radius: 35px;
  font-weight: 500;
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  margin-right: 10px;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
}

/* COUNT UP */
.countUp {
  background-image: url(./Samar-20220701T052623Z-001/Samar/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}
.number_content {
  display: flex;
  justify-content: space-around;
}
.number_item {
  width: 25%;
}
.number_item i {
  font-size: 45px;
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.number_item h1{
  font-size: 50px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number_item p{
  color: #262626;
  font-size: 18px;
}
/* FEATURE */
.feature{
  padding-top: 80px;
  padding-left: 80px;
  background-image: url(./Samar-20220701T052623Z-001/Samar/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  overflow: hidden;
}
.description_feature h3{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
  margin-top: 50px;
}
.description_feature h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 600;
  color: #262626;
  margin-bottom: 20px;
}
.feature_item {
  padding: 0 50px 30px 0;
}
.feature_item div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}
.features__bg {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.features__bg::after {
  content: "";
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s
}
.bg2{
  margin-left: 50px;
}

.features__bg:hover::after {
  opacity: 1
}
.features__bg p{
  color: black;
}
.feature_item h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 1s;
}
.feature_item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}
.feature_content{
  display: flex;
}
.left_feature{
  width: 60%;
}
.right-feature{
  width: 40%;
}
.features__banner{
  margin-top: 50px;
}
.features__banner {
  margin-right: -100px;
}
.features__banner img {
  max-width: 90%;
  margin-top: 80px;
  animation: img_feature_move 5s infinite;
}

@keyframes img_feature_move {
  0% {
      transform: rotate(1deg) translate(2px,2px)
  }

  50% {
      transform: rotate(-1deg) translate(-2px,-2px)
  }

  100% {
      transform: rotate(1deg) translate(2px,2px)
  }
}
.features__bg {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.features__bg::after {
  content: "";
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}

/* PORTFOLIO */
.portfolio__content{
  padding: 80px;
}
.portfolio_content h3{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
  margin-top: 50px;
  text-align: center;
  margin-bottom: -10px;
}
.portfolio_content h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 600;
  color: #262626;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: -40px;
}
.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2,1fr) 1.5fr;
  gap: 35px;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
}
.portfolio__item1 {
  grid-column: 1/span 2;
}
.portfolio__item5 {
  grid-column: 1/span 2;
}
.portfolio__item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.portfolio__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  opacity: 0;
  transition: all .75s;
}
.portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
  transform: skewX(-25deg);
  transition: all .75s
}
.portfolio__item:hover::before {
  left: 125%
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  opacity: 0;
  transition: all .75s
}

.portfolio__item:hover .portfolio__overlay {
  opacity: 1
}

.portfolio__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px,-20px);
  transition: all .75s
  
}

.portfolio__item:hover .portfolio__icon {
  transform: translate(0)
}

.portfolio__icon a {
  cursor: pointer
}

.portfolio__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all .75s
}
.portfolio__text h3,p{
  color: white;
}

.portfolio__item:hover .portfolio__text {
  transform: translateY(0)
}


/* PLAN */
.plan {
  background-image: url(./Samar-20220701T052623Z-001/Samar/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.plan_content{
  padding: 80px;
}
.plan_content h3{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
  margin-top: 50px;
  text-align: center;
  margin-bottom: -10px;
}
.plan_content h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 600;
  color: #262626;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: -40px;
}
.plan_list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 40px;
  gap: 30px;
}
.plan_item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  transition: all .5s;
}
.plan_item:hover{
  border: 4px dashed #f8ae56;
}
.plan_item img {
  width: 125px;
}
.plan_item ul li{
  list-style: none;
}
.plan_item h3 {
  font-size: 30px;
  font-weight: 700;
  color: #262626;
}
.plan_item span {
  font-size: 50px;
  color: #f8ae56;
  font-weight: 700;
}
.plan_item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}
.plan_item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan_item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}
/* TESTIMONIAl */
/* .testimonial {
  text-align: center;
  background-image: url(./Samar-20220701T052623Z-001/Samar/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px;
} */
.testimonial_content h3{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
  margin-top: 50px;
  text-align: center;
  margin-bottom: -10px;
}
.testimonial_content h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 600;
  color: #262626;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: -40px;
}

/* BLOG */
.blog{
  padding: 80px;
}
.blog_content h3{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
  margin-top: 50px;
  text-align: center;
  margin-bottom: -10px;
}
.blog_content h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 600;
  color: #262626;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: -40px;
}

/* FOOTER */
footer {
  background-image: url(./Samar-20220701T052623Z-001/Samar/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(./Samar-20220701T052623Z-001/Samar/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}
.footer__form, .footer__text {
  width: 50%;
}
.footer__text h2 {
  font-size: 28px;
  color: #262626;
}
.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all .5s;
}
.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  border-color: transparent;
  transition: all .5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}
.footer__form button:hover {
  background-position: right center
}

.footer__form button:hover i {
  animation: toLeftFromRight .5s forwards;
  display: inline-block
}
.footer__copyright {
  background-color: #1f343b;
  padding: 10px 80px;
  position: relative;
}
.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative
}
.footer__content {
  display: flex;
  justify-content: space-between
}

.footer__left span {
  color: #f55f8d
}

.footer__copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255,255,255,.1);
  transition: all .5s
}
.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
  padding-left: 80px;
}
.footer__item {
  width: 25%;
}
.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all .5s;
}
.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  display: block;
  border-radius: 50px
}
.footer__item ul li{
  list-style: none;
}
.footer__item li {
  padding: .5rem 0
}

.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all .5s
}

.footer__item i {
  font-weight: 700;
  margin-right: 10px
}

.footer__item a:hover {
  color: #fff
}
@keyframes toLeftFromRight {
  49% {
      transform: translateX(100%)
  }

  50% {
      opacity: 0;
      transform: translateX(-100%)
  }

  51% {
      opacity: 1
  }
}

/* BACK TO TOP */
.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: 20px;
  right: 20px;
  right: 20px;
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #f55f8d;
  border-radius: 8px;
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1
}

.js .cd-top--fade-out {
  opacity: .5
}

.js .cd-top:hover {
  background-color: hsl(5, 76%, 62%);
  background-color: var(--cd-color-3);
  opacity: 1
}
.cd-top i{
  line-height: 50px;
  margin-left: 18px;
  color: white;
}